$header-title-font: "AdvercaseFont", sans-serif;

$card-title-font: "AdvercaseFont", sans-serif;
$card-collection-font: "roc-grotesk",  sans-serif;
$card-price-font: "roc-grotesk",  sans-serif;

$product-title-font: "AdvercaseFont", sans-serif;
$product-price-font: "roc-grotesk",  sans-serif;
$product-description-font: "roc-grotesk",  sans-serif;

$add-to-cart-font: "roc-grotesk-wide",  sans-serif;
