$primary: black;

:root {
  --secondary: black;
}

$primary-background: rgb(245, 244, 244);

$card-background: transparent;
$card-image-background: white;
$card-image-background--hover: red;

$notification-bar-success-color: rgb(19, 222, 110);
$notification-bar-error-color: rgb(234, 67, 53);
$notification-bar-info-color: rgb(0, 122, 255);

$blur: blur(20px);
$blur--menu: blur(25px);
