$base-level-font: "IBMPlexMono",  sans-serif;

$header-title-font: "IBMPlexMono-Light", sans-serif;

$card-font: "IBMPlexMono",  sans-serif;

$product-title-font: "IBMPlexMono", sans-serif;
$product-price-font: "IBMPlexMono",  sans-serif;
$product-description-font: "IBMPlexMono",  sans-serif;

$button-font--primary: "IBMPlexMono",  sans-serif;

.text-sm {
  font-size: 0.8rem;
  letter-spacing: -0.02rem;
  font-family: $card-font;
}

.text-md {
}

.text-lg {
}
