$base-level-font: "IBMPlexMono",  sans-serif;

$header-title-font: "IBMPlexMono-Light", sans-serif;

$card-font: "IBMPlexMono",  sans-serif;

$product-page-font: "IBMPlexMono", sans-serif;

$button-font--primary: "IBMPlexMono",  sans-serif;

.text-sm {
  font-size: 0.8rem;
  letter-spacing: -0.02rem;
  font-family: $card-font;
  color: var(--secondary);
}

.text-header {
  text-decoration: none;
  font-family: $header-title-font;
  letter-spacing: -0.05rem;
  color: var(--secondary);
}

.text-md {
  text-decoration: none;
  font-family: $product-page-font;
  letter-spacing: -0.03rem;
  color: var(--secondary);
}

.text-lg {
  text-decoration: none;
  font-family: $base-level-font;
  letter-spacing: -0.05rem;
  font-size: 1.5rem;
  color: var(--secondary);
}

.text-xl {
  text-decoration: none;
  font-family: $base-level-font;
  letter-spacing: -0.05rem;
  font-size: 2rem;
  color: var(--secondary);
}

.--uppercase {
  text-transform: uppercase;
}

.--bold {
  font-weight: 600;
}
