@forward "./colors";
@forward "./sizes";
@forward "./fonts";
@forward "./breakpoints";

@font-face {
  font-family: "AdvercaseFont";
  src: url("/fonts/advercaseFont.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
