@forward "./colors";
@forward "./sizes";
@forward "./fonts";
@forward "./breakpoints";

@font-face {
  font-family: "AdvercaseFont";
  src: url("/fonts/advercaseFont.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "IBMPlexMono";
  src: url("/fonts/IBMPlexMono-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "IBMPlexMono-ExtraLight";
  src: url("/fonts/IBMPlexMono-ExtraLight.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "IBMPlexMono-Thin";
  src: url("/fonts/IBMPlexMono-Thin.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "IBMPlexMono-Light";
  src: url("/fonts/IBMPlexMono-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100dvh;
  line-height: 1.6;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  background: transparent;
  border: none;
}

a,
button {
  color: var(--secondary);
  padding: 0;
}

// -- Homepage styles
.homepage {
  --secondary: white;
  header {
    transition: border-color 0.5s, transform 0.5s;

    a,
    button {
      transition: color 0.5s;
    }
  }
}
